<h1 class = "text-center mt-4 text-white"><span>Edit</span> your profile</h1>

<%= render "form" %>

<br>
<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
