<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    
    <title>Hello, world!</title>
<!--font awesome cdn link-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: yellow;
    color: #333;
}

html{
   
    font-size: 70%;
    
}

body{
     padding-left: 36rem ;
      background: #1a1a1a;
     
}


.landingpage{
  display:none !important;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
header{
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    overflow:scroll;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top:2rem
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}
header .user .name{
    font-size: 3rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
}
header .navigationbar{
    width: 100%;
}
header .navigationbar ul{
    list-style-type: none;
    padding:1rem 3rem;
}
header .navigationbar ul li a{
    display: block;
    padding: 1rem;
    list-style-type: none;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5rem;
}
header .navigationbar ul li a:hover{
background:#f9ca24;
}
#hammenu{
  position: fixed;
  top:2rem; right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;

}


.home{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
padding: 0 10rem;
}
.home h1{
    font-size: 3rem;
    color: #fff;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1 span{
    color: var(--yellow);
}
.home p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem;
}
.btn{
    padding:1rem 1rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--yellow);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid#fff;
    color: #fff;

}
.heading span{
    color: var(--yellow);
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    padding: 1rem 0;
}
.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
font-size: 2rem;
color: var(--yellow);
padding: 1rem 0;
font-weight: normal;
}

.about .row .info h3 span{
color: #eee;
padding: 0 .5rem;

}

.about .row .counter{
    flex: 1 1 40rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
   
}
.about .row .counter .box{
width: 15rem;
background: #222;
text-align: center;
padding: 2rem;
margin: 1rem;
}

.about .row .counter .box span{
font-size: 2rem;
color: var(--yellow);
}

.about .row .counter .box h4{
    font-size: 2rem;
    color:#fff
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
    width: 35rem;
    margin: 4rem 1rem;
    padding-left: 2rem;
    border-left: 2rem solid #fff;
    position: relative;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color:#fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}
.education .box-container .box ul{
    font-size: 1.4rem;
    color:#fff;
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem; left:-2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);

}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box{
height: 20rem;
width:20rem;
border-radius: 1rem;
margin: 2rem;
overflow: hidden;
cursor: pointer;

}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 25rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
   padding-right: 1rem;
   color: var(--yellow);
}
.contact .row form{
    flex:1 1 40rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background:#3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}

.top{
    position: fixed;
    bottom: 2.5rem; right: 0;
    z-index: 1000;
    display: none;
   
}

.top img{
    width: 20%;
   
}


@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
  }
@media(max-width:991px){
    header{
        left:-120%;
    }
    #hammenu{
        display: block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding: 0;
    }

}
@media(max-width:400px){
    header{
        width: 100vw;
     }
     .heading{
        margin: 0 3rem;
     }
     .about .row .counter .box{
        width: 100%;
     }
     .education .box-container .box{
        width: 100%;
     }
     .portfolio .box-container .box{
        width: 100%;
     }
     .contact .row form{
        margin: 3rem 0;
     }
}






</style>
  

  </head>
  <body class = "bodylanding">
   <header>
    <div class="user">
      <img src="/assets/chisomo.jpg"  alt="My picture">
      <h3 class = "name">Chisomo  Chingwalu</h3>
      <p class = "post">front end and mobile developer</p>
    </div>

    <nav class ="navigationbar">
      <ul>
        <li><a href="#home">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#education">education</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#contact">contact</a></li>
        <li><%= link_to 'IMC Blog', root_path %></li>

        </ul>
    </nav>
    </header>
    <!--end of header section-->

    <div id="hammenu" class="fa fas fa-bars"></div>

    <!--home section-->
    <section class = "home" id ="home">
      <h3>Who am I?</h3>
      <h1>I am <span>Chisomo Chingwalu</span></h1>
      <p>Chisomo is so passionate in problem-solving, she likes to dig for knowledge until she finds a solution to 
      a challenging task. She is so curious and inquisitive when it comes to writing code or working in a project.
      She believes in collaborating with others to create value. She enjoys learning through a new task or through 
      a new language. Having a professional background in IT Service management and Systems Administration she has 
      a deep understanding of developing software that creates value to the stakeholders. She agrees that It does 
      not matter how beautiful the user Interface design is, a software is of no use if it does not deliver the 
      desired outcome and of course a bad user interface is boring to work with. she agree with Freeman Dyson and she quotes 
      “When I’m working on a problem, I never think about beauty. I think only about how to solve the problem. But when I have finished, if the solution is not beautiful, I know it is wrong.”</p>

        <a href="#about"><button class="btn">about me<i class ="fas fa-user-alt"></i></button></a>
    </section>

    <!--end of home section-->
<!--second section about-->
<section class = "about" id="about">
  <h1 class = "heading" ><span>about</span> me </h1>

  <div class="row">
    <div class="info">
      <h3><span>name : </span> Chisomo Sandra Chingwalu</h3>
      <h3><span>qualification : </span> Bsc Computer Info Systems</h3>
      <h3><span>post : </span> frond end and mobile developer</h3>
      <h3><span>language : </span> English</h3>

      <a href="#"><button class="btn">download cv<i class ="fas fa-download"></i></button></a>
    </div>

    <div class="counter">
      <div class="box">
        <span>5+<span>
          <h3>Years of experience</h3>
      </div>

      <div class="box">
        <span>10+<span>
          <h3>Projects Completed</h3>
      </div>

      <div class="box">
        <span>5+<span>
          <h3>Happy Clients</h3>
      </div>

     
    </div>
  </div>

</section>

<!--end of about section-->

<!--Education section-->
<section class="education" id="education">
  <h1 class ="heading">my <span>Education</span></h1>

  <div class="box-container">
<div class="box">
 <i class = "fas fa-graduation-cap"></i>
 <span>2022</span>
 <h3>The Complete Ruby on Rails Developer</h3>
 <ul>
 <li>Ajax, Jquery, plain JavaScript</li>
 <li>Bootstrap, Semantic-UI and MaterializeCSS</li>
 <li>Fully automated test suites using Unit, Functional and Integration tests</li>
 <li>Database associations: One-to-many, many-to-many, self-referential using ActiveRecord </li>
 
 </ul>
 
</div>

<div class="box">
  <i class = "fas fa-graduation-cap"></i>
  <span>2021</span>
  <h3>Android Basics Nanodegree</h3>
  <ul>
  <li>Android development</li>
  <li>Computer Science and programming</li>
  <li>Software build tools</li>
  <li>Application design</li>
  <li>Computer networking</li>
  <li>User experience and product design</li>
  <li>Java</li>
  <li>Data exchange</li>

  </ul>
  
 </div>
 <div class="box">
  <i class = "fas fa-graduation-cap"></i>
  <span>2019</span>
  <h3>ITILV4 Foundation</h3>
  <ul>
  <li>Service Management</li>
  <li>Four dimensions of service management</li>
  <li>Service value system</li>
  <li>Guiding principles</li>
  <li>Service value chain</li>
  <li>Continual improvement</li>
  <li>General management practices</li>
  <li>Service management practices</li>
  <li>Technical management practices</li>
   </ul>

   </div>

 <div class="box">
  <i class = "fas fa-graduation-cap"></i>
  <span>2017</span>
  <h3>The Complete Web Developer </h3>
  <ul>
  <li>HTML</li>
  <li>Css</li>
  <li>JavaScript</li>
  <li>jquery</li>
  <li>CMSs and WordPress</li>
  <li>Responsive Design</li>
  <li>PHP Coding</li>
  <li>MySQL Databases</li>
  <li>APIs</li>
  <li>Mobile Apps </li>
   </ul>
 </div>
 <div class="box">
  <i class = "fas fa-graduation-cap"></i>
  <span>2021</span>
  <h3>UX and Web Design Master Course: Strategy, Design, Development- Udemy</h3>
  <ul>
  <li>A clear understanding of the principles and benefits of good UX and how to apply it to your website</li>
  <li>A strategy for making sure you know what people need from your website, and what you or your client needs from it in order to succeed</li>
  <li>The confidence to know what information should be included in your website, and how to design it to increase conversions</li>
  <li>The ability to code a variety of websites with HTML, CSS, WordPress, and other tools</li>
  
   </ul>
 </div>
 <div class="box">
  <i class = "fas fa-graduation-cap"></i>
  <span>2022</span>
  <h3>ITIL4 Create Deliver Support</h3>
 <ul>
 <li>In progress ...</li></ul>
 </div>
  </div>

</section>

<!--education section end-->

<!--portfolio section starts-->
<section class="portfolio" id="portfolio">
  <h1 class = "heading"> my <span>portfolio</span></h1>
<div class="box-container">
  <div class="box">
    <img src="assets/blogpage1.png" alt="portfolio1">
  </div>

  <div class="box">
    <img src="https://picsum.photos/206" alt="portfolio1">
  </div>

  <div class="box">
    <img src="https://picsum.photos/202" alt="portfolio1">
  </div>

  <div class="box">
    <img src="https://picsum.photos/203" alt="portfolio1">
  </div>

  <div class="box">
    <img src="https://picsum.photos/204" alt="portfolio1">
  </div>

  <div class="box">
    <img src="https://picsum.photos/205" alt="portfolio1">
  </div>
</div>
</section>
<!--portfolio ends-->

<!--Contact section-->
<section class="contact" id="contact">

  <h1 class = "heading"> <span>contact</span> me </h1>
  
  <div class="row">

    <div class="content">

      <h3 class ="title">contact info</h3>

        <div class="info">
            <h3><i class = "fas fa-envelope"></i>cinchdeveloper1@gmail.com</h3>
            <h3><i class = "fas fa-phone"></i>+265-999-9999</h3>
            <h3><i class = "fas fa-phone"></i>+265-999-8888</h3>
            <h3><i class = "fas fa-map-marker-alt"></i>Lilongwe, Malawi - 13.96366,33.77118</h3>
       </div>
    </div>
    
       <form action ="">
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="text" placeholder="project" class="box">
        <textarea name = "" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
        <button type="submit" class="btn">send <i class="fas fa-paper-plane"></i></button>
       </form>
    
  </div>
</section>
<!--contact section end-->

<!--scroll top button-->
<a href="#home" class="top">
  <img src="/assets/top.png" alt="top">
</a>

<!--jquery cdn link-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!--custom js link-->
<script src="/assets/script.js"></script>

    
  </body>





</html>