
:root{
    --yellow:#f9ca24;
}
.navbar{
    background-color: black !important;
   
}
.nav-link {
    color:white !important;
}
h1 span{
    color: var(--yellow);
}
#logo{
    float: left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#logo span{
    color: var(--yellow);
}
#home-container{
    margin-top: 25px;
}
.jumbotron{
    background-image: url('/assets/jumbo1.jpg');
    background-position: center  center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 430px;
}

.jumbotron span{
    color: var(--yellow);
    font-weight: 700;
}

.custombtn{
          
        background: #333;
        color: #fff;
        cursor: pointer;
     padding:0.5rem;
        font-size: 1.4em;
        border-radius: 0.5em;
    }
    .custombtn:hover{
        background: var(--yellow);
    }

.navbar-toggler{
    background: #f9ca24;
}




    html,
    body {
      height: 100%;
    }
    
    #page-content {
      flex: 1 0 auto;
      background-color: #1a1a1a;;

        }
        #sticky-footer{
            flex-shrink: none;
        }
    /*pagination */

    .flickr_pagination {
        text-align: center;
        padding: 0.3em;
        cursor: default; }
        .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
          padding: 0.2em 0.5em;
        border-radius: 5px;}
        .flickr_pagination .disabled {
          color: #aaaaaa; }
        .flickr_pagination .current {
          font-style: normal;
          font-weight: bold;
          color: #ff0084; }
        .flickr_pagination a {
          border: 1px solid var(--yellow);
          color: #0063dc;
          text-decoration: none; }
          .flickr_pagination a:hover, .flickr_pagination a:focus {
            border-color: var(--yellow);
            background: var(--yellow);
            color: white; }
        .flickr_pagination .page_info {
          color: #aaaaaa;
          padding-top: 0.8em; }
        .flickr_pagination .previous_page, .flickr_pagination .next_page {
          border-width: 2px; }
        .flickr_pagination .previous_page {
          margin-right: 1em; }
        .flickr_pagination .next_page {
          margin-left: 1em; }


