<h1 class = "text-center mt-4 text-white"><span>Edit Category Name</span></h1>

<div class = "container">

<div class="row justify-content-center">

<div class = "col-10">
<%= render 'form' %>
<div class = "d-flex justify-content-center mb-3">
    <%= link_to '[Cancel and Return to category]', category_path(@category), class: "text-warning" %>
   </div>
   
    </div>
</div>


</div>
